.user{
  border-bottom: 1px solid lightgreen;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
